@model WebAppTheo.Models.Formulaire

@{
    ViewBag.Title = "Formulaire";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<form name="form1" id="form1" action="" method="post">

    <label for="IdEquipm">Type de transport</label>
    <select name="IdEquipm" value="" id="IdEquipm" class="form-control">
        <option value="" selected disabled>Sélectionner</option>
        <option value="2">Vélo</option>
        <option value="3">Ski</option>
    </select>
    <br><br>
    <label for="TypeMaintenance">Type de Maintenance</label>
    <select name="TypeMaintenance" value="" id="TypeMaintenance" class="form-control">
        <option value="" selected disabled>Sélectionner</option>
        <option value="Révision">Révision</option>
        <option value="Réparation">Réparation</option>
    </select>
    <br><br>

    <label for="ReparationDiverse">Equipement à réparer</label>
    <select name="ReparationDiverse" value="" id="ReparationDiverse" class="form-control" data-placeholder="Select">
        <option value="" selected disabled>Sélectionner</option>
        <option value="Pneu/Câble de frein">Pneu/Câble de frein</option>
        <option value="Pneu">Pneu</option>
        <option value="Câble de frein">Câble de frein</option>
        <option value="Fixation complète/Semelle">Fixation complète/Semelle</option>
        <option value="Fixation complète">Fixation complète</option>
        <option value="Semelle">Semelle</option>
    </select>


    <br><br>
    <label for="IdClient">Client</label>
    <select name="IdClient" id="IdClient" class="form-control">
        <option value="" selected disabled>Sélectionner un client</option>
        @foreach (var data in ViewBag.listeClient)
        {
            <option value="@data.IdClient">@data.PrenomClient @data.NomClient</option>
        }
    </select>
    <br><br>
        <div class="form-group">
            <label for="IdTech">Technicien</label>
            <select name="IdTech" id="IdTech" class="form-control">
                <option value="" selected disabled>Sélectionner un technicien</option>
                @foreach (var data in ViewBag.listeTechnicien)
                {
                    <option value="@data.IdTech">@data.NomTechn</option>
                }
            </select>
        </div>

    <br>

    <div class="form-group">
        <label for="TempsMinute">Temps estimé</label>
        <input type="number" value="" name="TempsMinute" class="form-control" id="TempsMinute" placeholder="">
    </div>

    <br><br>
    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">N° de l'équipement</th>
            <th scope="col">Type d'équipement</th>
            <th scope="col">Client</th>
            <th scope="col">Technicien</th>
            <th scope="col">Prix</th>
            <th scope="col">Durée</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var data in ViewBag.listFormulaire)
        {
            <tr>
                <td>@data.IdEquipm</td>
                @foreach(var dataEquipm in ViewBag.listeEquipement)
                {
                    if(data.IdEquipm == dataEquipm.IdEquipm)
                    {
                        <td>@dataEquipm.NomEquipm</td>
                        break;
                    }
                }

                @foreach (var dataClient in ViewBag.listeClient)
                {
                    if (data.IdClient == dataClient.IdClient)
                    {
                        <td>
                            <ul>
                                <li>@dataClient.NomClient @dataClient.PrenomClient</li>
                                <li>Email: @dataClient.Mail</li>
                                <li>Téléphone @dataClient.Telephone</li>
                            </ul>
                        </td>
                        break;
                    }

                }

                @foreach (var dataTechnicien in ViewBag.listeTechnicien)
                {
                    if (data.IdTech == dataTechnicien.IdTech)
                    {
                        <td>@dataTechnicien.NomTechn</td>
                        break;
                    }
                }

                <td>@data.Prix</td>
                <td>@data.TempsMinute</td>
                <td>@data.DateAjout</td>
            </tr>
        }

    </tbody>
    </table>

@*<script>

    $('.multiple-select.one').multipleSelect();

    let tempMultipleSelect = $.fn.multipleSelect;
    $.fn.multipleSelect = function () {
        this.removeAttr('multiple');    //remove attribute as per your logic
        return tempMultipleSelect.apply(this, arguments);
    }

    $('.multiple-select.two').multipleSelect();

</script>

<script>
    var subjectObject = {
        "Vélo": {
            "Révision": [],
            "Réparation": ["Roue", "Cable de frein"]
        },
        "Ski": {
            "Révision": [],
            "Réparation": ["Fixation complète", "Semelle"]
        }
    }
    window.onload = function () {
        var subjectSel = document.getElementById("TypeEquipm");
        var topicSel = document.getElementById("Maintenance");
        var chapterSel = document.getElementById("EquipementPlus");
        for (var x in subjectObject) {
            subjectSel.options[subjectSel.options.length] = new Option(x, x);
        }
        subjectSel.onchange = function () {
            //empty Chapters- and Topics- dropdowns
            chapterSel.length = 1;
            topicSel.length = 1;
            //display correct values
            for (var y in subjectObject[this.value]) {
                topicSel.options[topicSel.options.length] = new Option(y, y);
            }
        }
        topicSel.onchange = function () {
            //empty Chapters dropdown
            chapterSel.length = 1;
            //display correct values
            var z = subjectObject[subjectSel.value][this.value];
            for (var i = 0; i < z.length; i++) {
                chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
            }
        }
    }
</script>*@
