@model IEnumerable<WebAppTheo.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrenomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrenomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdClient }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdClient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdClient })
        </td>
    </tr>
}

</table>
